h1 {
    margin-bottom: 0 !important;
}

h2 {
    margin-top: 1.0666667em !important;
}

pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

code {
    font-size: 1.2rem !important;
}